<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" >
    <script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/index.css">
    <title>馨品共享水</title>
    <style>
 
    footer > a{
	width: 25vw !important;
	padding: 1vh 0 0vh 0;
	display: block;
	float: left;
	text-align: center;
	color: #848282;
	font-size: .5rem;
}
</style>
</head>
<body>
    <!-- logo --> 
   <!--  <input class="iccardVal" type="hidden" name="" value='{{$iccard}}'>
    <input class="recordVal" type="hidden" name="" value='{{$record}}'>
    <input class="nameVal" type="hidden" name="" value='{{$name}}'> -->
    <section class="showBalanceBox">
        <img src="__PUBLIC__/Home/image/indexbg.png" alt="">
        <section class="showBalance">
            <img class="moneylogo" src="__PUBLIC__/Home/image/water.png" />
            <!-- <p class="textBalance text-center">账号余额 (元)</p>
            <p class="numBalance text-center">{{$money}}</p> -->
            <p class="textBalance text-center">本周饮水</p>
            <p class="numBalance text-center">{{$total_number}}L</p>
        </section>
    </section>
    <section id="text">
        <!-- 旧的 -->
        <ul id="textList">
        </ul>
        <!-- 新的 -->
        <div class='data'>
            <div>
                <img src="" alt="">
                <p class='name'></p>
            </div>
            <ul class="water_sum">
                <li class='item cfix'>
                    <span class='fl'>日期</span>
                    <span class='fr'>饮水量</span>
                </li>
<!--                <li class='item cfix'>
                    <span class='fl'>2018/06/21</span>
                    <span class='fr'>1L</span>
                </li>-->
            </ul>
        </div>
    </section>
    <!-- footer -->
    <footer class="footer">
        <a class="btn1" href="{{:U('Home/index/index')}}"><span class="logo1"></span>首页</a>
        <a class="btn2" href="{{:U('Home/Consume/index')}}"><span class="logo2"></span>饮水记录</a>
        <a class="btn3 charge" href="http://shop.360back.com/"><span class="logo3"></span>商城</a>
        <a class="btn5" href="{{:U('Home/Users/mine')}}"><span class="logo5"></span>我的</a>
    </footer>
    
    <link rel="stylesheet" href="__PUBLIC__/Admin/layui/lay/modules/skin/default/layer.css">
    <script src='__PUBLIC__/Admin/layui/lay/modules/layer.js'></script>
    <script src="__PUBLIC__/Home/js/public.js"></script>
    <script>
        $(function(){
            $(".logo1").css("background-position","-9.5rem 0");
            $(".btn1").css("color","#008C63");

            // 剩余金额logo效果
            // $(".showBalanceBox").click(function(){
            //     $(".moneylogo").animate({transform: 'scale()'},"fast");
            //     $(".moneylogo").animate({width:"23vw",height:"23vw",top:"7vw"},"fast");
            //     $(".moneylogo").animate({width:"25vw",height:"25vw",top:"6vw"},"fast");
            //     $(".moneylogo").animate({width:"23vw",height:"23vw",top:"7vw"},"fast");
            //     $(".moneylogo").animate({width:"24vw",height:"24vw",top:"6.5vw"},"fast");
            // });

            //一周喝水记录
            // var iccardVal=$(".iccardVal").val();//获取ic卡数据
            // var recordVal=$(".recordVal").val();//获取饮水记录数据
            // var nameVal=$(".nameVal").val();
            var josniccardVal=JSON.parse({{$iccard|json_encode}});
            var jsonrecordVal=JSON.parse({{$record|json_encode}});
            console.log(jsonrecordVal);
            var jsonnameVal=JSON.parse({{$name|json_encode}});
            var _str = '';
            for(var i in jsonrecordVal){
            
                _str+=' <li class=\'item cfix\'><span class=\'fl\'>'+ jsonrecordVal[i].s_time+'</span><span class=\'fr\'>'+ jsonrecordVal[i].flow+'mL</span></li>';
                
            }
            $('.water_sum').append(_str);
            return;
            // console.log(nameVal);
            
            // var josniccardVal= '';
            // var jsonrecordVal= '';
            // var jsonnameVal='';
            
            var LiHtml1="";
            //获取json对象长度
            var iccardNumber=0;
            var times=0;
           
            for(var js2 in josniccardVal){
                iccardNumber++; 
            }
            console.dir('jsonrecordVal: ',jsonrecordVal);
            if(iccardNumber){
                $('.name').text(jsonnameVal[0]);
                var html = '<li class="item cfix">'+
                        '<span class="fl">日期</span>'+
                        '<span class="fr">饮水量</span>'+
                    '</li>'; 
                for(var i in josniccardVal){

                    // IC卡号ID
                    // console.dir(i);
                    // IC卡卡号
                    // console.dir(josniccardVal[i]);

                    LiHtml1+="<li><h4>"+jsonnameVal[times]+"</h4><p class='tableTitle'>一周饮水统计表/mL</p><table class='table table-data'><thead><tr><td>日</td><td>一</td><td>二</td><td>三</td><td>四</td><td>五</td><td>六</td></tr></thead><tbody><tr>";
                    // IC 卡消费记录
                    times++;
                    var jl = icjili(i);
                    var lji = 0;
                    console.log('jl: ',jl);

                    var tdHtml="";
                    var dataList = ['星期一','星期二','星期三','星期四','星期五','星期六','星期日'];
                    for(var j in jl){
                        console.dir(jl[j]);
                        tdHtml += "<td>"+jl[j]+"</td>";
                        lji += jl[j]-0;
                        // console.dir(jl[j]);
                        html += '<li class="item cfix">'+
                            '<span class="fl">'+ 1 +'</span>'+
                            '<span class="fr">'+ jl[j] +'mL</span>'+
                        '</li>'; 

                    }
                    console.log('lji: ',lji);

                    LiHtml1 += tdHtml;

                    LiHtml1 += "</tr></tbody></table><p class='text-right addUp'>累计：<span class='spanSize'>"+lji+"</span>mL</p></li>";

                    // $("#textList").html(LiHtml1);
                    // 统计七天总量
                    $('.numBalance').text(lji/1000+"L");
                    
                }
                // 显示数据
                $('.data>ul').html(html);

                if(iccardNumber>1){
                    $('#textNav').show();
                    var textNavHtml = '<span class="spanActiveList"></span>';
                    for(var i=1;i<iccardNumber;i++){
                        textNavHtml += '<span></span>';
                    }

                    $('#textNav').html(textNavHtml);

                    $("#textList").css({'width':(iccardNumber*100)+'vw'});
                }
            }

            function icjili(id){
                var icidjl = [0,0,0,0,0,0,0];

                for(var j in jsonrecordVal){
                    // 返回IC卡消费记录
                    console.dir(jsonrecordVal[j]);
                    if(jsonrecordVal[j]['icid'] == id){
                        console.dir(jsonrecordVal[j]['time']);
                        var d = new Date(jsonrecordVal[j]['time']);
                        var zj = d.getDay();
                        icidjl[zj] = jsonrecordVal[j]['flow'];
                        //jsonrecordVal[j]['time']
                        //icidjl.push(jsonrecordVal[j]['flow']);
                    }
                }
                return icidjl;
            }
            //数据表滑动显示
            if($("#textList").children().size()>1){
                fnTab_txt(id("text"),id("textList"),id("textNav").children,$(window).width(),"spanActiveList");
            }
        });
    </script>
</body>
</html>