<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" >
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<script src="__PUBLIC__/Home/js/public.js"></script>
<title>个人信息</title>
<style>
    input[type="text"] {
        line-height: 30px;
        vertical-align: middle;
    }
</style>
</head>
<body>
<header class='headerbar cfix'>
    <a class='back' href='javascript:history.go(-1);'>返回</a>
    <a class='home' href='{{:U("Home/Index/index")}}'>首页</a>
</header>
<ul class="personalList">
	<li>
		<i class="i1"></i>用户姓名：<span class="username">{{$user['name']}}</span>
	</li>
	<li>
		<i class="i2"></i>用户电话：<span>{{$user['phone']}}</span>
	</li>
	<li>
		<i class="i3"></i class='addr'>地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：<span></span>
	</li>
    <li>
        <i class="i4"></i>详细地址：<span class='detail'></span>
    </li>
</ul>
<div style="width: 80%;margin:0 auto">
	<button class="btn btn-info btn-block" id="_btn" data="{{:U('Home/Users/reviseUser')}}">编辑</button>
    
</div>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<script src="__PUBLIC__/Home/js/public.js"></script>
<script src="__PUBLIC__/Home/js/LAreaData1.js"></script>
<script src="__PUBLIC__/Home/js/LAreaData2.js"></script>
<script src="__PUBLIC__/Home/js/LArea.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Home/css/LArea.css">
<script src="__PUBLIC__/Home/js/jquery-1.11.1.min.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
<script>
    // 页面刷新获取localStorage数据赋值页面
    if(!window.localStorage){
        alert("浏览器支持localStorage！");
    }else{
        var storage = window.localStorage;
        for(var i = 0;i<storage.length;i++){
            var each_storage = storage.key(i);
            if(each_storage == "user"){
                var newInfo = JSON.parse(storage.getItem(storage.key(i)));
            }
        }
    }
    var span = $('.personalList').find('li span')
    span.eq(0).text(newInfo.name);
    span.eq(1).text(newInfo.phone);
    span.eq(2).text(newInfo.addr);
    span.eq(3).text(newInfo.addrdetail);

	//设置当前按钮显示样式
    $(".logo5").css("background-position","-7.6rem 0");
    $(".btn5").css("color","#008C63");
    // 地址
    var addr = {{$user['address']|json_encode}};
    // var addr = 'sddsfgdfg,水电费水电费';
    addr = addr.split(',')[0];
    var detail = addr.split(',')[1];
    $('.addr').text(addr);
    $('.detail').text(detail);
    
    //编辑    
    $('#_btn').click(function fn(){

        var span = $('.personalList').find('li span')
        var name = span.eq(0).text()
        var phone = span.eq(1).text()
        var addr = span.eq(2).text()
        var addrdetail = span.eq(3).text()

        var addrHtml = '<input class="form-control address" id="demo1" type="text" readonly="" placeholder="'+addr+'" name="address" value=""/>'+
                    '<input id="value1" type="hidden" value="20,234,504"/><span class="caret"></span>'
        span.eq(0).html('<input type="text" value="'+name+'">')
        span.eq(1).html('<input type="text" value="'+phone+'">')
        span.eq(2).html(addrHtml)
        span.eq(3).html('<input type="text" value="'+addrdetail+'">')
        //输入地址js
        var area1 = new LArea();
        area1.init({
            'trigger': '#demo1', //触发选择控件的文本框，同时选择完毕后name属性输出到该位置
            'valueTo': '#value1', //选择完毕后id属性输出到该位置
            'keys': {
                id: 'id',
                name: 'name'
            }, //绑定数据源相关字段 id对应valueTo的value属性输出 name对应trigger的value属性输出
            'type': 1, //数据源类型
            'data': LAreaData //数据源
        });
        area1.value=[1,13,3];//控制初始位置，注意：该方法并不会影响到input的value
        span.find('input').css({'display':'inline-block','position':'relative','left':'0','top':'0px','width':'60%','height':'30px','border':'1px solid #46AF90','border-radius':'8px'})
        $(this).unbind().text('确定').click(function(){

            if(regUsernameOK){  //用户名合法才可以保存

                var name_ = span.eq(0).find('input').val()
                var phone_ = span.eq(1).find('input').val()
                var addr_ = $('#demo1').val()
                var addrdetail_ = span.eq(3).find('input').val()
                var json = {}
                function fn2(){
                    span.eq(0).text(name)
                    span.eq(1).text(phone)
                    span.eq(2).text(addr)
                    span.eq(3).text(addrdetail)
                    $('#_btn').text('编辑')
                    $('#_btn').unbind().click(fn)
                }
                if(!name_){ 
                    layuiHint('用户名不能为空');
                    return
                }
                if(!/^1[34578]\d{9}$/.test(phone_)){ 
                    layuiHint('请输入正确的手机号码');
                    return
                }
                if(!addr_){ 
                    layuiHint('请选择地址');
                    return
                }
                if(!addrdetail_){ 
                    layuiHint('请输入详细地址');
                    return
                }
                if(name != name_){json.name = name_}
                if(phone != phone_){json.phone = phone_}
                if(addr_&&(addr != addr_)){json.address = addr_ + ',' + addrdetail_}

                if($.isEmptyObject(json)){ 
                    layuiHint('未作修改')
                    fn2()
                }else{
                    $.ajax({
                        type:'post',
                        data:json,
                        url:$('#_btn').attr('data'),
                        success:function(data){
                            if(Number(data)){
                                // 页面信息
                                var info = {"name":name_||name,"phone":phone_||phone,"addr":addr_||addr,"addrdetail":addrdetail_||addrdetail};
                                // 存入localStorage
                                if(!window.localStorage){
                                    alert("浏览器支持localStorage！");
                                }else{
                                    var storage = window.localStorage;
                                    storage.setItem("user",JSON.stringify(info));
                                    for(var i = 0;i<storage.length;i++){
                                        // 库中所有的键
                                        var each_storage = storage.key(i);
                                        if(each_storage == "user"){
                                            var newInfo = JSON.parse(storage.getItem(storage.key(i)));
                                        }
                                    }
                                }
                                layuiHint('修改成功')
                                // span.eq(0).text(name_||name)
                                // span.eq(1).text(phone_||phone)
                                // span.eq(2).text(addr_||addr)
                                // span.eq(3).text(addrdetail_||addrdetail)
                                $('#_btn').text('编辑')
                                $('#_btn').unbind().click(fn)
                                setTimeout(function(){
                                    location.href = '{{:U("Home/Users/mine")}}';
                                },500);
                            }else{
                                layuiHint('修改失败')
                                fn2()
                            }
                        },
                        error:function(err){
                            layuiHint('修改失败')
                            fn2()
                        }
                    })
                }
            }else{

                layuiHint("用户名只能是数字英文汉字下划线!");
            }
            
        })
    	
    })
    

    // 用户名不允许有空格和特殊字符
    var regUsername = /^[a-zA-Z0-9_\u4e00-\u9fa5]+$/;
    var regUsernameOK = true;
    $(".username").on("change","input", function(){

        !regUsername.exec($(".username>input").val())
        ? (
            $(".username>input").css({color: "red"}),
            regUsernameOK = null
            )
        : (
            $(".username>input").css({color: "#000"}),
            regUsernameOK = true
            )

        console.log(regUsername.exec($(".username>input").val()))
    })

</script>
</body>
</html>