<!-- header part -->
<include file="Public/header" />
<!-- content part -->
<div class="content">
    <!-- nav part-->
    <include file="Public/nav" />
    <!-- from part-->
    <div class="row-fluid fl" id="main">
    <style type="text/css">
        .textarea{width: 215px; min-height: 110px; border: 1px solid #ccc;}
        .textarea p{
            padding: 0 10px;
            margin: 5px;
        }
        .control-group{position: relative;}
        .control-group .elected{position: absolute; top: 0;left: 0;}
        .control-group .textarea{margin-left: 190px;}
        .btn-groups .btns{
            margin: 50px 0 50px 90px;
            padding: 8px 35px;
            border-radius: 7px;
        }
        .laydate_body .laydate_y{
            margin-right: 0;
        }
    </style>
        <div class="tableBox">
            <div class="titleBar">工单管理/<span>添加工单</span></div>
            <div class="formBox">
                <form class="" action="__URL__/add" method="post" id="_fm" onsubmit="return toVaild()">
                    <div class="control-group">
                        <span>工单号<sub class="_start">*</sub></span>
                        <!-- 需加数字验证 -->
                        <input type="text" class="control _null gongdanId" name="number" placeholder="只能是字母加数字组成的字符串" style="width:210px;">
                    </div>
                    <div class="control-group">
                        <span>处理人<sub class="_start">*</sub></span>
                        <input type="text" class="control _null" name="name" placeholder="请输入处理人姓名..." style="width:210px;">
                    </div>
                    <div class="control-group">
                        <span>处理人手机号码<sub class="_start">*</sub></span>
                        <input type="text" class="control _null" name="phone" placeholder="请输入处理人电话..." style="width:210px;">
                    </div>
                    <div class="control-group">
                        <span>维护类型</span>
                        <input type="radio" class="control" name="type" value="0" checked>安装&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="control" name="type" value="1">维修&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="control" name="type" value="2">维护&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="control-group">
                        <span>工作内容<sub class="_start">*</sub></span>
                        <textarea name="content" cols="30" rows="5" class="_null"></textarea>
                    </div>
                    <div class="control-group">
                        <span>地址<sub class="_start">*</sub></span>
                        <div class="info">
                            <select id="s_province" name="s_province"></select>&nbsp;&nbsp;
                            <select id="s_city" name="s_city" ></select>&nbsp;&nbsp;
                            <select id="s_county" name="s_county"></select>
                        </div>
                        <input type="hidden" name="address" class="addressValue">
                        <!-- 此处需要三级联动 -->
                    </div>
                    <div class="control-group">
                        <span>处理结果</span>
                        <input type="radio" class="control" name="result" value="0" checked>未处理&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="control" name="result" value="1">正在处理&nbsp;&nbsp;&nbsp;
                        <input type="radio" class="control" name="result" value="2">已处理&nbsp;&nbsp;&nbsp;
                    </div>
                    <div class="control-group">
                        <span>处理时间<sub class="_start">*</sub></span>
                        <!-- 需要时间插件 -->
                        <input type="text" name="time" id="addMaintenanceDate" placeholder="选择处理日期" onclick="layui.laydate({elem: this,istime: 1, format: 'YYYY-MM-DD' })"/>
                    </div>
                    <div class="btn-groups">
                        <button class="btns reset btn-primary" type="reset">重置</button>
                        <button class="subbtn btns btn-primary" type="submit">提交</button>
                    </div>
                    

                </form>
            </div>
        </div> 
        <!-- footer part -->
        <include file="Public/footer"/>
    </div>
</div>
<script> 
    //验证表单

    function toVaild() {
        var _null = $('._null');
        var number = _null.eq(0).val().trim();
        var name = _null.eq(1).val().trim();
        var phone = _null.eq(2).val().trim();
        var content = _null.eq(3).val().trim();
        var phoneReg = /^1[34578]\d{9}$/;
        if(number==""){
            layuiHint('工单号不能为空');
            return false;
        }else if(name==""){
            layuiHint('处理人不能为空')
            return false;
        }else if(phone==""){
            layuiHint('手机号码不能为空')
            return false;
        }else if(!phoneReg.test(phone)){
            layuiHint('手机号码格式不正确')
            return false;
        }else if(content==""){
            layuiHint('工作内容不能为空')
            return false;
        }else if($('#s_province').val()==""||$('#s_city').val()==""||$('#s_county').val()==""){
            layuiHint('请把地址填写完整'); 
            return false; 
        }else if($('#addMaintenanceDate').val()==""){
            layuiHint('请输入处理时间');  
            return false; 
        }else{
            $(".addressValue").val($('#s_province').val() + " " + $('#s_city').val() + " " + $('#s_county').val());
            return true
        }
        
    }
    //处理日期
    function fn(num){
        return num<10?('0'+num):num
    }
    //日期控件
    layui.use('laydate', function(){
        var element =laydate = layui.laydate
    })
    //城市三级联动
    _init_area();
    var Gid  = document.getElementById ;
    var showArea = function(){
        Gid('show').innerHTML = "<h3>省" + Gid('s_province').value + " - 市" + Gid('s_city').value + " - 县/区" + Gid('s_county').value + "</h3>"
    }


</script>
