<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width,initial-scale=1" >
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/mobileStyle.css">
<title>注册</title>
<style type="text/css">

    </style>
</head>
<body>
	<!-- logo -->
	<section class="logo"></section>
	<!-- 输入框 -->
	<form action="__URL__/resetPasswordNext" method="post" onsubmit="return toVaild()">
		<section class="container inputBox">
			<section class="row">
				<section class="col-md-12">
					<input class="form-control password0" type="password" value="" name="password" placeholder="请输入新密码">
				</section>
			</section>
			<section class="row">
				<section class="col-md-12">
					<input class="form-control password1" type="password" value="" name="repassword" placeholder="再次输入新密码">
				</section>
			</section>
		</section>
		<!-- 重置按钮 -->
		<section class="registerBtn text-center"><button>确定</button></section>
	</form>
	<script src="__PUBLIC__/Home/js/public.js"></script>
	<!-- layui.js -->
	<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
	<link rel="stylesheet" href="__PUBLIC__/Admin/layui/css/layui.css" />
	<script type="text/javascript">
		// 表单验证
		function toVaild(){
			var password0=$(".password0").val();
			var password1=$(".password1").val();
			if(password0==""){
				layuiHint("密码不能为空"); 
			}else{
				if(passwordVaild(password0)){ 
					if(password1==password0){
						return true;
					}else{
						layuiHint("两次输入的密码不一致");
					}
				}
			}
			return false;
		}
	</script>
</body>
</html>
