<include file="Public/header" />
<div class="content">
    <include file="Public/nav" />
    <div class="row-fluid fl" id="main">
        <div class="tableBox">
            <div class="titleBar">IC卡管理/<span>IC卡列表</span></div>
            <form class="form-search" action="__URL__/index" method="post">
                <span class="select-box">IC卡编号:
                    <input type="text" class="input-medium nickname" name="iccard" placeholder="请输入姓名" style="width: 100px;"/ >
                </span>
                <span class="select-box">IC卡类型:
                    <select class="select result" size="1" name="type" style="width: 100px;">
                        <option value="" selected>- IC卡类型 -</option>
                        <option value="0">免费卡</option>
                        <option value="1">计费卡</option>
                        <option value="2">未知类型</option>
                    </select>
                </span>   
                <span class="select-box">持有人:
                    <input type="text" class="input-medium address" name="name" placeholder="请输入地址" style="width: 100px;"/ >
                </span>
                <span class="select-box">学籍号:
                    <input type="text" class="input-medium address" name="studentcode" placeholder="请输入地址" style="width: 100px;"/ >
                </span>
                <span class="select-box">学校:
                    <input type="text" class="input-medium address" name="school" placeholder="请输入地址" style="width: 100px;"/ >
                </span>
                <span class="select-box">状态:
                    <select class="select result" size="1" name="status" style="width: 100px;">
                        <option value="" selected>- 状态 -</option>
                        <option value="0">未绑定</option>
                        <option value="1">已绑定</option>
                        <option value="2">挂失</option>
                        <option value="3">未知状态</option>
                    </select>
                </span>              
                <span class="select-box" style="display: inline-block;position:relative">时间:
                    <input type="text" id="date-start" class="input-medium form-control" name="mincreated_at" placeholder="请选择时间" style="width: 76px;left: 0"/ > ~ <input type="text" id="date-end" class="input-medium form-control" name="maxcreated_at" placeholder="请选择时间" style="width:76px;right: 0"/ >
                </span>
                <div class="submitBtn">
                    <button type="reset" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#x1002;</i> 重置</button>
                    <button type="submit" name="search" value="1" class="btn fr mbtn" style="color: #8f0911;background-color: #eee;"><i class="layui-icon">&#xe615;</i> 查找</button>
                </div>               
            </form>

            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>IC卡编号</th>
                    <th>IC卡类型</th>
                    <th>持有人</th>
                    <th>学籍号</th>
                    <th>学校</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <notempty name="list">
                    <foreach name="list" item="vo" key="key">
                    <tr>
                        <td>{{$vo.iccard}}</td>
                        <td>{{$vo.type}}</td>
                        <td>{{$vo.name}}</td>
                        <td>{{$vo.studentcode}}</td>
                        <td>{{$vo.school}}</td>
                        <td>{{$vo.status}}</td>
                        <td>{{$vo.addtime|date='Y-m-d H:i:s',###}}</td>
                        <td>
                            <if condition="$Think.session.adminuser.leavel eq 0">
                                <switch name="vo.status">
                                    <case value="挂失"><a href="__URL__/edit/id/{{$vo.id}}">编辑</a></case>
                                    <case value="已绑定"><a href="__URL__/edit/id/{{$vo.id}}">编辑</a></case>
                                    <default />
                                </switch>
                            <else/>
                                <span>您无操作权限</span>
                            </if>
                        </td>
                    </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="12">查无数据</td>
                    </tr>
                    </notempty>
                </tbody>
            </table>
            <div class="pagination">
                <ul>
                    {{$button}}
                </ul>
            </div>
            <script>
                $('.pagination ul a').unwrap('div').wrap('<li></li>');
                $('.pagination ul span').wrap('<li class="active"></li>')
            </script>
        </div>
        <!-- footer part -->
        <include file="Public/footer" />
    </div>
</div>

