<div class="navBox sidebar-collapse fl" id="nav">
    <ul class="nav nav-list">
        <!-- <li class="active">
            <a href="#" class="dropdown-toggle" target="main">
                <span class="menu-text">首页</span>
            </a>
        </li> -->
        <li class='navPar'>
            <a href="#" class="dropdown-toggle">
                <span class="menu-text">后台管理</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{{:U('Vendors/add')}}" target="main" class='navitem'>
                        <i class="icon-double-angle-right"></i>添加经销商
                    </a>
                </li>
                <li>
                    <a href="{{:U('Vendors/index')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>经销商列表
                    </a>
                </li>
                <li>
                    <a href="{{:U('Vendors/devices_add')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>绑定机组
                    </a>
                </li>
                <li>
                    <a href="{{:U('Vendors/bindinglist')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>已绑定列表
                    </a>
                </li>
            </ul>
        </li>
        <li class='navPar'>
            <a href="#" class="dropdown-toggle">
                <span class="menu-text">产品管理</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{{:U('Product/filter_add')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>滤芯设置
                    </a>
                </li>
                <li>
                    <a href="{{:U('Product/filterlist')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>滤芯列表
                    </a>
                </li>
                <li>
                    <a href="{{:U('Product/add')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>产品类型设置
                    </a>
                </li>
                <li>
                    <a href="{{:U('Product/index')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>产品类型列表
                    </a>
                </li>
            </ul>
        </li>
        <li class='navPar'>
            <a href="#" class="dropdown-toggle">
                <span class="menu-text">机组管理</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{{:U('Crew/add')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>机组设置
                    </a>
                </li>
                <li>
                    <a href="{{:U('Crew/index')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>机组列表
                    </a>
                </li>
            </ul>
        </li>
        <li class='navPar'>
            <a href="#" class="dropdown-toggle">
                <span class="menu-text">设备管理</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{{:U('Devices/show_add_device')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>设备添加
                    </a>
                </li>
                <li>
                    <a href="{{:U('Devices/devicesList')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>设备列表
                    </a>
                </li>
            </ul>
        </li>
       <li class='navPar'>
            <a href="#" class="dropdown-toggle">
                <span class="menu-text">IC卡管理</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{{:U('Card/add')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>添加IC卡
                    </a>
                </li>
                <li>
                    <a href="{{:U('Card/index')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>IC卡列表
                    </a>
                </li>
            </ul>
        </li>
        <li class='navPar'>
            <a href="#" class="dropdown-toggle">
                <span class="menu-text">工单管理</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{{:U('Work/add')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>添加工单
                    </a>
                </li>
                <li>
                    <a href="{{:U('Work/index')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>工单列表
                    </a>
                </li>
            </ul>
        </li>
        <li class='navPar'>
            <a href="#" class="dropdown-toggle">
                <span class="menu-text">用户管理</span>
            </a>
            <ul class="submenu">
                <li>
                    <a href="{{:U('Users/index')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>用户列表
                    </a>
                </li>
                <li>
                    <a href="{{:U('Users/flow')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>充值记录
                    </a>
                </li>
                <li>
                    <a href="{{:U('Users/consume')}}" class='navitem' target="main">
                        <i class="icon-double-angle-right"></i>消费记录
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>