<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>学生IC卡激活</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/css/activate.css">
    <script src='__PUBLIC__/Home/js/jquery-1.11.1.min.js'></script>
    <script src='__PUBLIC__/Home/js/public.js'></script>
    <script>
        var activate = '{{:U("Activate/student")}}';
        var getAddressURL = '{{:U("Address/getNextArea")}}';
    </script>
</head>
<body ontouchstart='console.log()'>
    <div class='student'>
        <div class='bgbg'>
            <img src="__PUBLIC__/Home/image/bgbg.png" alt="">
            <p>我是学生&nbsp;<span style='color:#82A1CA;'>STUDENT</span></p>
            <span class='shadow'></span>
        </div>
        <ul>
            <li class='item cfix'>
                <span class='fl'>学生</span>
                <input class='fr' type="text" placeholder="请输入学生姓名" v-model='info.name'>
            </li>
            <li class='item cfix'>
                <span class='fl'>学生家长</span>
                <input class='fr' type="text" placeholder="请输入家长姓名" v-model='info.parent'>
            </li>
            <li class='item cfix'>
                <span class='fl'>手机号码</span>
                <input class='fr phone' type="text" placeholder="请输入手机号码" v-model='info.phone' @blur='phoneChange'>
            </li>
            <li class='item cfix'>
                <span class='fl'>学校地址</span>
                <input class='fr school' type="text" placeholder="请选择学校地址" v-model='info.address' readonly>
                <input type="hidden" class='schid'>
                <p>
                    <textarea name="" id="" cols="30" rows="5" placeholder="请输入详细地址哟" v-model='info.addrdetail'></textarea>
                </p>
            </li>
            <li class='item cfix'>
                <span class='fl'>学校名称</span>
                <select name="" class='fr' id="" v-model='info.schoolid'>
                    <option value="">请选择学校名称</option>
                    <option :value="s.id" v-for='s in schoolList' v-text='s.name'></option>
                </select>
            </li>
            <li class='item cfix'>
                <span class='fl'>IC卡号</span>
                <input class='fr iccard' type="text" placeholder="请输入IC卡号" v-model='info.iccard' @blur='cardChange'>
            </li>
            <li class='item cfix'>
                <span class='fl'>与持卡人关系</span>
                <select class='fr' name="" id="" v-model='info.relation'>
                    <option value="" >请选择关系</option>
                    <option :value="r.name" v-for='r in relationList' v-text='r.name'></option>
                </select>
            </li>
        </ul>
        <div class='note'>
            <img class='imgcheck' @click='acceptFn(1)' value='0' none='__PUBLIC__/Home/image/check_none.png'
            check='__PUBLIC__/Home/image/check_ok.png' src="__PUBLIC__/Home/image/check_none.png" alt="">
            <span @click='note'>我已阅读并同意相关条款</span>
        </div>
        <button @click='activate' class='okgo'>立即激活</button>
        <div class='notePanel'>
            <p @click='hidepanel'></p>
            <ul>
                <h4>激活条款</h4>
                <li v-html='notetext'></li>
                <button @click='acceptFn(2)' class='agree'>同意</button>
            </ul>
        </div>
    </div>
    <script src='__PUBLIC__/Home/js/vue.min.js'></script>
    <script src='__PUBLIC__/Home/js/activate/student.js'></script>
    <script src='__PUBLIC__/Admin/layui/lay/modules/layer.js'></script>
    <script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js"></script>
    <script src="__PUBLIC__/Home/js/address.js"></script>
    <script>
        $(function(){
            $('.school').click(function(){
                areaFn(function(info){
                    console.log('info: ',info);
                })
            })
        })
    </script>
</body>
</html>