html {
    box-sizing: border-box;
    color: #1B1B1C;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
.cfix::after {
    content: '';
    display: block;
    clear: both;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.personalList {
    padding: 0 3vw;
}
.title {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.title>img {
    width: 100%;
    height: auto;
    margin-left: .9%;
}
.title>div {
    width: 100%;
    position: absolute;
    top: 34%;
    left: 0;
    right: 0;
    text-align: center;
    color: #fff;
}
.title>div>h2 {
    display: inline;
    position: relative;
    font-size: 1.4rem;
}
.title>div>h2::before {
    content: '';
    width: 40px;
    height: 6px;
    position: absolute;
    left: -50px;
    top: 50%;
    background: linear-gradient(90deg,transparent, #fff);
    transform: translateY(-50%);
}
.title>div>h2::after {
    content: '';
    width: 40px;
    height: 6px;
    position: absolute;
    right: -50px;
    top: 50%;
    background: linear-gradient(90deg,#fff, transparent);
    transform: translateY(-50%);
}
.title>div>p {
    font-size: 1rem;
    margin-top: 10px;
}
.personalList>li {
    width: 96%;
    position: relative;
    left: 50%;
    margin-left: -48%;
    margin-top: 16px;
    padding: 0 12%;
    font-size: .6rem;
    box-shadow: 0 4px 3px rgba(0,155,255,0.19);
}

.item:nth-of-type(1) {
    position: relative;
    margin-bottom: 20px;
    color: #999999;
}
.item:nth-of-type(1)::after {
    content: '';
    width: 110%;
    height: 1px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -55%;
    background:#f6f6f6; 
}
.item>p {
    position: relative;
    margin: 10px 0;
}
.item>p>span:nth-of-type(1) {
    width: 30%;
    display: inline-block;
    text-align: left;
}
.item:nth-of-type(2)>p>span:nth-of-type(2) {
    color: #666;
}
#_btn {
    position: absolute;
    padding: 0px 8px;
    right: 0;
    background-color: transparent;
    color: #3793F7;
    border: 1px solid #3793F7;
    border-radius: 30px;
}
.editPanel {
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    z-index: 99;
    background: rgba(0,0,0,.3);
}
.bgbg {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}
.editPanel>ul {
    width: 90%;
    padding: 10px 20px;
    position: relative;
    top: 10%;
    left: 50%;
    margin-left: -45%;
    border-radius: 4px;
    background: #fff;
}
.editPanel>ul>h4 {text-align: center;}
.editPanel>ul>li {
    margin-bottom: 10px;
}
.editPanel>ul>li>span {
    width: 24%;
    display: inline-block;
}
.editPanel>ul>li input {
    padding: 0 4px;
    border: 1px solid #ddd;
}
.editok {
    width: 80%;
    position: relative;
    left: 50%;
    margin-left: -40%;
    padding: 4px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background: #3793F7;
}